:root {
  --default: #fff;
  --dark-bg: #2b2b2b;
  --grey-bg: #3a3a3a;
  --body-bg: #434343;
  --text-accent: #14b9e9;
  --text-accent-hover: #1bccff;
  --card-color: #4b4a4a;
  --card-border: #736f6f;
  --font-secondary: 'Montserrat', sans-serif;
  --font-primary: 'Inter', sans-serif;
  --primary: #0b9d1a;
  --primary-hover: #098415;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

button {
  cursor: pointer;
  background-color: transparent;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--body-bg);
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: 1;
  color: var(--default);
  min-width: 320px;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  flex: 1 1 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.none {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
