.contacts {
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
  .title {
    margin-bottom: 2rem;
    text-align: center;
  }
  .map {
    border-radius: 18px;
    overflow: hidden;
    height: 400px;
  }
}
