.checkboxBlock {
  .title {
    margin-bottom: 24px;
  }
  .item {
    position: relative;
  }
  .item + .item {
    margin-top: 0.625rem;
  }
  .input {
    position: absolute;
    width: 0.0625rem;
    height: 0.0625rem;
    z-index: -1;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }
  .input:checked + .custom::before {
    content: '';
    position: absolute;
    background-image: url('./check.svg');
    background-repeat: no-repeat;
    width: 0.4375rem;
    height: 0.4375rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .input:focus + .custom {
    box-shadow: 0 0 0 0.125rem #414141;
  }
  .custom {
    margin-top: 1px;
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: #fff;
    border-radius: 0.125rem;
  }
  .name {
    margin-left: 1.875rem;
  }
}
