.sorting {
    font-family: "Scada", sans-serif;
    font-size: 1.125rem;
    padding: 0.9375rem 0;
  }
  
  .sorting__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .sorting__item {
    margin: 0 0.9375rem 0.3125rem 0;
  }
  
  .sorting__item:last-child {
    margin-right: 0;
  }
  
  .sorting-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 2rem;
    min-width: 200px;
    background-color: #fff;
    padding: 0.3125rem 2rem;
    border-radius: 1.875rem;
    color: #000;
  }
  
  .sorting-btn:hover,
  .sorting-btn:focus {
    box-shadow: -0.125rem 0.125rem 1.1875rem 0.0625rem #FFCBCB;
  }
  
  .sorting-btn.active {
    background-color: #414141;
    color: #fff;
  }
  
  .sorting-btn.active:hover {
    box-shadow: none;
  }
  
  .sorting-btn--icon span {
    position: relative;
    padding-right: 0.9375rem;
  }
  
  .sorting-btn--icon span::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    width: 0.5rem;
    height: 1rem;
    right: 0;
  }
  
  .sorting-btn--icon-arrow-up span::before {
    /* background-image: url(../img/arrow-up.svg); */
    top: 0.1875rem;
  }
  
  .sorting-btn--icon-arrow-down span::before {
    /* background-image: url(../img/arrow-down.svg); */
    background-repeat: no-repeat;
    top: 0.25rem;
  }

  @media (max-width: 767.98px) {
    .sorting {
        font-size: 1rem;
      }
  }