.navigation {
  position: relative;
}
.arrow {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 40px;
  fill: #fff;
  cursor: pointer;
  z-index: 10;
}
.left {
  right: 37px;
}
.right {
  right: 0;
}
