.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  width: 100%;
  gap: 12px;
  border-radius: 18px;
  font-size: 1rem;
  font-family: var(--font-secondary);
  transition: background-color 0.2s ease;
}
.primary {
  background-color: var(--primary);
  color: var(--default);
  &:hover,
  &:focus,
  &.active {
    background-color: var(--primary-hover);
  }
}
.secondary {
  border: 1px solid var(--default);
  color: var(--default);
  &:hover,
  &:focus {
    box-shadow: -1px 1px 25px -8px #ffcbcb;
    background-color: var(--text-accent);
    border: 1px solid var(--text-accent);
  }
  &.active {
    background-color: var(--text-accent);
    border: 1px solid var(--text-accent);
  }
}
.lg {
  padding: 10px 20px;
}
.sm {
  padding: 5px 20px;
}
