.motoservices {
  padding: 40px 0;
  &__title {
    margin-bottom: 24px;
  }
  &__text {
    font-weight: 300;
    line-height: 1.8;
    margin-bottom: 24px;
    p + p {
      margin-top: 0.625rem;
    }
  }
  &__listBtns {
    display: flex;
    gap: 12px;
    margin-bottom: 24px;
  }
  &__item {
    background-color: #414141;
    padding: 24px;
    border-radius: 18px;
  }
  &__content {
    font-weight: 300;
    line-height: 1.8;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: 'Scada', serif;
      line-height: 1;
    }
    h1 {
      font-size: 32px;
    }
    h2 {
      font-size: 28px;
    }
    h3 {
      font-size: 22px;
    }
    h4 {
      font-size: 20px;
    }
    p + p {
      margin-top: 0.625rem;
    }
    ul {
      padding: 0 0 15px 0;
      li {
        padding-left: 1.5625rem;
        position: relative;
        &::before {
          content: '';
          position: absolute;
          width: 0.4375rem;
          height: 0.4375rem;
          background-color: #fff;
          border-radius: 50%;
          left: 0;
          top: 0.625rem;
        }
      }
      li + li {
        margin-top: 0.625rem;
      }
    }
    p + h1,
    p + h2,
    p + h3,
    p + h4,
    p + h5,
    p + h6 {
      margin-top: 24px;
    }
    h1 + p,
    h1 + ul,
    h2 + p,
    h2 + ul,
    h3 + p,
    h3 + ul,
    h4 + p,
    h4 + ul,
    h5 + p,
    h5 + ul,
    h6 + p,
    h6 + ul {
      margin-top: 12px;
    }
  }
}
