.breadcrumbs__item:not(:last-child) {
    margin-right: 0.9375rem;
    padding-right: 1.9375rem;
    position: relative;
  }
  
  .breadcrumbs__item:not(:last-child)::after {
    content: "";
    position: absolute;
    /* background-image: url(../img/breadcrumbs-arrow.svg); */
    background-repeat: no-repeat;
    width: 1rem;
    height: 0.5rem;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .breadcrumbs__link {
    padding: 10px 0.3125rem;
  }
  
  .breadcrumbs__link--active {
    font-weight: 700;
  }
  
  .breadcrumbs__link[href]:hover,
  .breadcrumbs__link[href]:focus,
  .breadcrumbs__link[href]:active {
    text-decoration: underline;
  }