.motoNews {
  padding: 40px 0;
  .title {
    margin-bottom: 24px;
  }
  .list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
    gap: 24px;
    margin-bottom: 24px;
  }
  .btn {
    max-width: 250px;
    margin: 24px auto 0;
  }
}
