.cart {
  padding: 48px 0;
  .title {
    margin-bottom: 24px;
  }
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1rem;
    gap: 24px;
    padding: 20px 0;
  }
  .checkout {
    max-width: 250px;
    margin: 24px auto 0;
    a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
      gap: 0.625rem;
      border-radius: 1.875rem;
      background-color: #0b9d1a;
      color: #fff;
      font-size: 1rem;
      padding: 10px 20px;
      font-family: 'Scada', sans-serif;
      transition: background-color 0.5s ease;
    }
  }
}
