.sliderImages {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 50%;
  @media (max-width: 991.98px) {
    width: 100%;
  }
  .wrapper {
    max-width: 100%;
    img {
      height: 380px;
      object-fit: contain;
      border-radius: 18px;
      @media (max-width: 575.98px) {
        height: 200px;
      }
    }
  }
  .pagination {
    display: flex;
    gap: 12px;
    img {
      height: 100px;
      object-fit: contain;
      border-radius: 18px;
      @media (max-width: 575.98px) {
        height: 50px;
      }
    }
  }
  .bottom {
    border: 1px solid transparent;
    border-radius: 18px;
    transition: all 0.5s ease;
    cursor: pointer;
    &.borderActive {
      border: 1px solid var(--card-border);
    }
  }
}
