.articles {
  padding: 48px 0;
  .wrapper {
    display: flex;
    gap: 24px;
    @media (max-width: 992.98px) {
      flex-direction: column;
    }
  }
  .title {
    margin-bottom: 24px;
  }
  .news {
    width: 100%;
  }
}
