.article-aside {
    font-family: 'Scada', sans-serif;
    font-size: 1.125rem;
    padding: 0 15px 15px 15px;
    &__search {
        margin-bottom: 2.5rem;
    }
    &__category {
        margin-bottom: 2.5rem;
    }
}