.btn-color {
    &:hover,
    &.active {
        .btn-color__tab {
            border-bottom: 0.1875rem solid $dark-bg;
            box-shadow: -0.125rem 0.125rem 0.1875rem rgba(0, 0, 0, 0.4);
        }
    }
    &__tab {
        display: inline-block;
        width: 3.125rem;
        height: 1.25rem;
        border-radius: 3px;
        transition: box-shadow 0.2s ease;
        &--white {
            background-color: #fff;
        }
        &--red {
            background-color: $red;
        }
        &--black {
            background-color: #000;
        }
        &--yellow {
            background-color: #e5f749;
        }
        &--grey {
            background-color: #c6bcab;
        }
    }
}