.btn-close {
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    & > * {
        pointer-events: none;
    }
    span {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        &::before, &::after {
            content: '';
            position: absolute;
            width: 20px;
            height: 2px;
            background-color: $dark-bg;
        }
        &::before {
            transform: rotate(45deg);
        }
        &::after {
            transform: rotate(-45deg);
        }
    }
}