.characteristics {
  p {
    font-weight: 300;
  }
  p + p {
    margin-top: 0.4375rem;
  }
  &__title {
    @extend %title-font;
    font-size: 1.125rem;
    margin-bottom: 0.9375rem;
    position: relative;
    display: inline-block;
    &::before {
      content: '';
      position: absolute;
      // background-image: url(../img/dropdown-icon.svg);
      background-repeat: no-repeat;
      width: 0.9375rem;
      height: 0.75rem;
      right: 0;
      top: 6px;
      display: none;
    }
  }
}
