.contacts {
    font-size: 1rem;
    padding-bottom: 2.8125rem;
    font-family: 'Scada', sans-serif;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__map {
        flex: 0 1 54%;
    }
    &__content {
        flex: 0 1 40%;
    }
    &__title {
        text-align: left;
        margin-bottom: 1.5625rem;
    }
    &__info {
        margin-bottom: 1.875rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__label {
        @extend %title-font;
        font-size: 1.125rem;
        margin-bottom: 0.625rem;
    }
    &__text {
        line-height: 1.5;
    }
}