.counter {
    display: flex;
    column-gap: 5px;
    font-size: 1.125rem;
    &__input {
        width: 70px;
        height: 30px;
        padding: 5px 10px;
    }
    &__input::-webkit-inner-spin-button,
    &__input::-webkit-outer-spin-button {
        appearance: none;
    }
    &__btn {
        width: 30px;
        height: 30px;
        background: $dark-bg;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }
}