.motoservices {
    padding-bottom: 3.125rem;
    &__title {
        margin-bottom: 1.5625rem;
    }
    &__text {
        font-weight: 300;
        line-height: 1.8;
        margin-bottom: 1.125rem;
        text-align: justify;
        p + p {
            margin-top: 0.625rem;
        }
    }
    &__sorting {
        margin-bottom: 1.125rem;
    }
}