.partners {
    background-color: #fff;
    padding: 1.25rem 0;
    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 140px;
        height: 60px;
        padding: 15px;
        img {
            width: 140px;
            object-fit: cover;
        }
    }
}