.popularProducts {
  padding: 40px 0;
  font-family: 'Scada', sans-serif;
  font-size: 1.125rem;
  &__title {
    text-align: left;
    margin-bottom: 24px;
  }
  &__btns {
    display: flex;
    position: absolute;
    top: 0.625rem;
    right: 0;
  }
}
.keen-slider {
  overflow: hidden;
  position: relative;
}

.keen-slider__slide {
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-height: auto;
}
