.comment {
  display: flex;
  gap: 12px;
  font-family: var(--font-secondary);
  .avatar {
    flex: 0 0 auto;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #fff;
    border-radius: 50%;
  }
  .info {
    flex: 0 1 auto;
  }
  .name {
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 0.625rem;
  }
  .text {
    font-family: var(--font-primary);
    margin-bottom: 0.625rem;
    font-weight: 400;
    line-height: 1.8;
    p + p {
      margin-top: 0.625rem;
    }
  }
  .date {
    display: block;
    font-size: 0.875rem;
  }
}
