.user {
  display: flex;
  align-items: center;
  gap: 12px;
  & > * {
    pointer-events: none;
  }
  &__counter {
    position: relative;
  }
  &__quantity {
    position: absolute;
    background-color: #2ef30e;
    padding: 7px;
    top: -3px;
    right: 7px;
    border-radius: 50%;
    color: #000;
    font-size: 9px;
    font-weight: 600;
    width: 15px;
    height: 15px;
    display: none;
    display: flex;
    justify-content: center;
    align-items: center;
    &.active {
      display: flex;
    }
  }
}
