.addressInfoItem {
  display: flex;
  align-items: center;
  gap: 12px;
  .icon {
    margin-right: 0.625rem;
    width: 16px;
    height: 21px;
  }
  @media (max-width: 850px) {
    .icon {
      margin-right: 0;
    }
    .label {
      display: none;
    }
  }
}
