.footerNav {
  display: flex;
  flex-wrap: wrap;
  column-gap: 48px;
  row-gap: 24px;
  @media (max-width: 575.98px) {
    justify-content: center;
  }
  .label {
    font-weight: 700;
    color: var(--text-accent);
    margin-bottom: 0.625rem;
    position: relative;
    padding-right: 1.56rem;
    display: inline-block;
    @media (max-width: 850px) {
      cursor: pointer;
    }
    &::before {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      width: 0.9375rem;
      height: 0.75rem;
      right: 0;
      top: 4px;
      display: none;
      @media (max-width: 850px) {
        display: block;
      }
    }
  }
  .link {
    padding: 8px 0;
    transition: all 0.2s ease;
    &:hover {
      color: var(--text-accent-hover);
      text-decoration: underline;
    }
  }
  .spoiler {
    display: block;
  }
}
