.address-information {
    &__item {
        display: flex;
    }
    &__item + &__item {
        margin-top: 0.625rem;
    }
    &__link {
        display: flex;
    }
    &__icon {
        margin-right: 0.625rem;
        width: 16px;
        height: 21px;
    }
    &__schedule {
        margin-top: 1.25rem;
    }
}