.sort {
  display: flex;
  justify-content: flex-end;
  position: relative;
  background: #fff;
  padding: 20px;
  color: #000;
  border-radius: 20px;
  .criterion {
    margin-left: 10px;
    color: red;
    text-decoration: underline;
    cursor: pointer;
  }
  .list {
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
    z-index: 10;
    background: #414141;
    border-radius: 10px;
    padding: 20px;
    color: #fff;
  }
  .item:not(:last-child) {
    margin-bottom: 10px;
  }
  .item {
    cursor: pointer;
    &.active {
      color: red;
    }
  }
}
