.pagination {
  padding: 1.5625rem 0;
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.3125rem;
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    width: 2.125rem;
    height: 2.125rem;
    border: 0.0625rem solid #ffffff;
    color: #fff;
    padding: 0.3125rem;
    border-radius: 0.1875rem;
    &.active {
      background-color: #f30e0e;
      border-color: #f30e0e;
    }
    &:hover {
      background-color: #f30e0e;
      border-color: #f30e0e;
    }
    &--noBorder {
      border: none;
      &:hover {
        background-color: transparent;
      }
    }
  }
}
