.pagination {
  font-family: var(--font-secondary);
  padding: 1.5625rem 0;
  .list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.3125rem;
  }
  .link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    width: 2.125rem;
    height: 2.125rem;
    border: 0.0625rem solid var(--default);
    color: var(--default);
    padding: 0.3125rem;
    border-radius: 0.1875rem;
    &.active {
      background-color: var(--text-accent);
      border-color: var(--text-accent);
    }
    &:hover {
      background-color: var(--text-accent-hover);
      border-color: var(--text-accent-hover);
    }
    &--noBorder {
      border: none;
      &:hover {
        background-color: transparent;
      }
    }
  }
}
