.header {
    font-family: "Scada", sans-serif;
    font-size: 1.125rem;
    display: flex;
    flex-direction: column;
  }
  
  .top-header {
    background-color: #414141;
    padding: 3.125rem 0;
  }
  
  .top-header__inner {
    display: flex;
    justify-content: space-between;
  }
  
  .top-header__logo {
    flex: 0 0 auto;
    margin-right: 2.5rem;
  }
  
  .top-header__form {
    margin-bottom: 1.5625rem;
  }
  
  .top-header__actions {
    margin-right: 2.5rem;
    flex: 1 1 auto;
    min-width: 250px;
  }
  .bottom-header {
    background-color: #555555;
    padding: 0.625rem 0;
  }

  @media (max-width: 991.98px) {
    
    .header {
        font-size: 1rem;
    }
  }
  @media (max-width: 850px) {
    .top-header {
        padding: 2.125rem 0;
      }
    
      .top-header .address-information__icon {
        margin-right: 0;
      }
    
      .top-header .address-information__label {
        display: none;
      }
  }
  @media (max-width: 767.98px) {
    .top-header {
        padding: 20px 0;
        order: 1;
      }
    
      .top-header__logo {
        display: none;
      }
    
      .top-header__inner {
        flex-direction: column;
      }
    
      .top-header__actions {
        display: flex;
        flex-direction: column;
        margin-right: 0;
      }
    
      .top-header__form {
        order: 1;
        margin-bottom: 20px;
      }
    
      .top-header__users-wrapper {
        margin-bottom: 20px;
      }
    
      .top-header .address-information__list {
        display: flex;
        align-items: baseline;
        justify-content: space-evenly;
      }
    
      .top-header .address-information__item {
        margin-top: 0;
      }
  }