.aside {
  font-family: 'Scada';
  font-size: 18px;
  font-weight: 700;
  .list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-bottom: 24px;
    border-bottom: 1px solid #fff;
  }
}
