.blogPage {
  padding: 40px 0;
  .wrapper {
    display: flex;
    gap: 24px;
    @media (max-width: 992.98px) {
      flex-direction: column;
    }
  }
  .content {
    width: 100%;
  }
  .aside {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 0 0 300px;
    @media (max-width: 992.98px) {
      width: 100%;
    }
  }
}
