.cartProduct {
  display: flex;
  justify-content: space-between;
  column-gap: 48px;
  row-gap: 24px;
  align-items: flex-end;
  position: relative;
  border-bottom: 1px solid #fff;
  padding: 20px 0;
  &:first-child {
    border-top: 1px solid #fff;
  }
  @media (max-width: 991.98px) {
    .title {
      font-size: 1rem;
    }
    .price {
      font-size: 1rem;
    }
  }
  @media (max-width: 767.98px) {
    flex-wrap: wrap;
  }
  @media (max-width: 575.98px) {
    .price {
      justify-self: flex-start;
    }
  }
  .info {
    width: 250px;
  }
  .title {
    margin-bottom: 24px;
  }
  .img {
    min-width: 120px;
    img {
      width: 120px;
      height: 120px;
      background-color: #fff;
      border-radius: 5px;
      object-fit: contain;
    }
  }
  .colors {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  .color {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .price {
    font-size: 1.125rem;
    font-weight: 600;
    justify-self: center;
    white-space: nowrap;
  }
  .delete {
    position: absolute;
    top: 10px;
    right: 0;
  }
}
