.empty {
  font-family: var(--font-secondary);
  max-width: 800px;
  background-color: var(--grey-bg);
  border-radius: 20px;
  padding: 1.875rem 0;
  text-align: center;
  margin: 20px auto;
  .title {
    margin-bottom: 1.875rem;
  }
  .description {
    margin-bottom: 1.875rem;
  }
  .catalog {
    max-width: 300px;
    margin: 0 auto;
  }
}
