.search-form {
    font-family: "Scada", sans-serif;
    font-size: inherit;
    color: #fff;
    position: relative;
  }
  
  .search-form__input {
    width: 100%;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    color: #fff;
    border-radius: 1.875rem;
    height: 2.25rem;
    padding: 0.5rem 0.9375rem;
  }
  
  .search-form__input:hover,
  .search-form__input:active,
  .search-form__input:focus {
    box-shadow: -0.0625rem 0px 0.5rem 0.0625rem #ffcbcb;
  }
  
  .search-form__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 6px;
    right: 10px;
  }
  
  .search-form__icon {
    width: 19px;
    height: 19px;
  }