.singlePage {
  font-family: var(--font-secondary);
  margin-top: 1.5rem;
  .feature {
    margin-bottom: 20px;
  }
  .info {
    margin-bottom: 3rem;
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
    row-gap: 48px;
    @media (max-width: 991.98px) {
      flex-direction: column;
    }
  }
  .size {
    margin-bottom: 2.1875rem;
  }
  .text {
    font-family: var(--font-primary);
    font-weight: 400;
    line-height: 1.8;
    padding: 24px 0;
    p + p {
      margin-top: 0.625rem;
    }
  }
}
