.counter {
  display: flex;
  font-family: var(--font-primary);
  column-gap: 5px;
  font-size: 1.125rem;
  .input {
    background-color: var(--default);
    color: var(--dark-bg);
    width: 70px;
    height: 30px;
    padding: 5px 10px;
  }
  .btn {
    width: 30px;
    height: 30px;
    background: var(--dark-bg);
    color: var(--default);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
}
