.feature {
  font-family: var(--font-secondary);
  line-height: 1.2;
  .top {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
    padding: 1.125rem 0;
    background-color: var(--dark-bg);
  }
  .btn {
    display: flex;
  }
  .bottom {
    display: flex;
    gap: 24px;
    background-color: var(--grey-bg);
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    padding: 24px;
    @media (max-width: 575.98px) {
      flex-direction: column;
    }
  }
}
