.feature {
  font-family: 'Scada', sans-serif;
  .top {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
    padding: 1.125rem 0;
    background-color: #414141;
  }
  .title {
    font-size: 1.125rem;
  }
  .bottom {
    display: flex;
    gap: 24px;
    background-color: #555;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    padding: 24px;
    @media (max-width: 575.98px) {
      flex-direction: column;
    }
  }
}
