.footer {
  font-family: 'Scada', sans-serif;
  font-size: 1.125rem;
  @media (max-width: 991.98px) {
    font-size: 1rem;
  }
  .contacts {
    display: flex;
    flex-direction: column;
    gap: 24px;
    @media (max-width: 575.98px) {
      text-align: center;
    }
  }
  .content {
    background-color: #414141;
    padding: 5rem 0;
    @media (max-width: 991.98px) {
      padding: 40px 0;
    }
  }
  .logo {
    @media (max-width: 575.98px) {
      margin-bottom: 1.125rem;
    }
  }
  .socialInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.125rem;
    @media (max-width: 575.98px) {
      flex-direction: column;
    }
  }

  .infoContent {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 48px;
    @media (max-width: 767.98px) {
      flex-direction: column;
      align-items: unset;
    }
    @media (max-width: 575.98px) {
      flex-direction: column;
      align-items: center;
    }
  }
  .copyright {
    background-color: #555555;
    padding: 2.5rem 0;
    text-align: center;
    @media (max-width: 575.98px) {
      font-size: 0.875rem;
      padding: 1.125rem 0;
    }
  }
}
