.comments {
  padding: 1.5625rem 0;
  &__top {
    margin-bottom: 2.8125rem;
  }
  &__title {
    margin-bottom: 24px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
