.navigation__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -0.625rem;
}

@media (max-width: 767.98px) {
    .navigation {
        display: none;
    }
}