.article {
  display: flex;
  flex-direction: column;
  height: 100%;
  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 18px 18px 0 0;
    padding: 24px;
    img {
      height: 200px;
      object-fit: contain;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    background-color: #414141;
    padding: 24px;
    border-radius: 0 0 18px 18px;
  }
  &__contentTitle {
    margin-bottom: 24px;
  }
  &__text {
    margin-bottom: 1.25rem;
    margin-top: auto;
    line-height: 1.8;
    font-size: 1rem;
  }
  &__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;
    font-family: 'Scada';
    align-items: center;
    font-size: 0.875rem;
  }
}
