.breadcrumbs {
    font-family: "Scada", sans-serif;
    font-size: 1.125rem;
    padding: 1.5625rem 0;
  }
  
  .breadcrumbs__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  @media (max-width: 767.98px) {
    .breadcrumbs {
        font-size: 1rem;
        padding: 0.9375rem 0;
      }
  }