.catalog {
  padding: 2rem 0;
  .inner {
    display: flex;
    gap: 1.875rem;
    @media (max-width: 767.98px) {
      display: block;
    }
  }
  .filter {
    width: 270px;
    @media (max-width: 767.98px) {
      width: 100%;
    }
  }
  .products {
    width: 100%;
  }
  .sort {
    margin-bottom: 20px;
  }
  .text {
    font-family: var(--font-primary);
    font-weight: 300;
    line-height: 1.8;
    text-align: justify;
    p + p {
      margin-top: 0.9375rem;
    }
  }
  .filterBtn {
    display: none;
    align-self: flex-end;
    @media (max-width: 767.98px) {
      display: flex;
    }
  }
}
