.address-information__item {
    display: flex;
  }
  
  .address-information__item + .address-information__item {
    margin-top: 0.625rem;
  }
  
  .address-information__link {
    display: flex;
  }
  
  .address-information__icon {
    margin-right: 0.625rem;
    width: 16px;
    height: 21px;
  }

  @media (max-width: 850px) {
    .top-header .address-information__icon {
        margin-right: 0;
      }
    
    .top-header .address-information__label {
    display: none;
    }
  }

  @media (max-width: 767.98px) {
    .top-header .address-information__list {
        display: flex;
        align-items: baseline;
        justify-content: space-evenly;
      }
    
    .top-header .address-information__item {
    margin-top: 0;
    }
  }

  @media (max-width: 575.98px) {
    .address-information__item {
        justify-content: center;
    }
  }