.category {
  font-family: 'Scada', sans-serif;
  font-size: 1rem;
  .title {
    margin-bottom: 20px;
  }
  .list {
    display: flex;
    flex-direction: column;
    gap: 0.9375rem;
  }
  .link {
    color: #fff;
    transition: color 0.2s ease-in-out;
    &:hover {
      color: #414141;
    }
  }
}
