.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.625rem;
  border-radius: 1.875rem;
  color: inherit;
  font-size: 1rem;
  font-family: 'Scada', sans-serif;
  transition: background-color 0.5s ease;
  &.primary {
    width: 100%;
    background-color: #0b9d1a;
    color: #fff;
    padding: 5px 20px;
  }
  &.secondary {
    background-color: #fff;
    padding: 5px 20px;
    color: #000;
    &.active {
      background-color: #414141;
      color: #fff;
    }
  }
  &.close {
    background-color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    & > * {
      pointer-events: none;
    }
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 2px;
        background-color: #414141;
      }
      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
    }
  }
  &.outline {
    color: #888;
    padding: 5px;
    font-size: 14px;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
    &.outlineActive {
      border: 1px solid #0b9d1a;
      color: #000;
    }
  }
}
