.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px 20px;
  min-height: 2rem;
  min-width: 200px;
  border-radius: 1.875rem;
  color: inherit;
  font-size: 1rem;
  font-family: 'Scada', sans-serif;
  transition: background-color 0.5s ease;
  &.primary {
    width: 100%;
    background-color: #0b9d1a;
    color: #fff;
  }
  &.close {
    background-color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    min-width: unset;
    min-height: unset;
    padding: 0;
    & > * {
      pointer-events: none;
    }
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 2px;
        background-color: #414141;
      }
      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
    }
  }
}
