.home {
  padding: 40px 0;
  .moto {
    padding: 40px 0;
  }
  .title {
    margin-bottom: 24px;
  }
  .text {
    font-weight: 400;
    line-height: 1.8;
    h2 {
      font-family: var(--font-secondary);
      font-size: 28px;
      font-weight: 700;
      line-height: 1.2;
    }
    * + * {
      margin-top: 24px;
    }
  }
}
